# --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.11.txt
# #apache-airflow==2.7.2 install only once for local development
# apache-airflow-providers-snowflake==5.0.1
# apache-airflow-providers-mongo==3.2.2
# apache-airflow-providers-opensearch==1.1.1
# #apache-airflow-providers-mysql==5.3.1
# apache-airflow-providers-docker==3.7.5
# apache-airflow-providers-cncf-kubernetes==7.6.0
# numpy==1.24.4
# pandas==2.1.1
# tzdata==2023.3
# virtualenv==20.24.5
# pyarrow==11.0.0
# apache-airflow-providers-amazon==8.7.1
